* {
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;
}

body {
  background-color: #fafafa;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

select {
  border: none;
  outline: none;
  font-weight: 600;
}

.m-t-10 {
  margin-top: 10px;
}

.p-t-10 {
  padding-top: 10px;
}

.m-t-12 {
  margin-top: 12px;
}

.p-t-12 {
  padding-top: 12px;
}

.m-t-15 {
  margin-top: 15px;
}

.p-t-15 {
  padding-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.p-t-20 {
  padding-top: 20px;
}

.m-t-25 {
  margin-top: 25px;
}

.p-t-25 {
  padding-top: 25px;
}

.m-t-30 {
  margin-top: 30px;
}

.p-t-30 {
  padding-top: 30px;
}

.m-t-35 {
  margin-top: 35px;
}

.p-t-35 {
  padding-top: 35px;
}

.m-t-40 {
  margin-top: 40px;
}

.p-t-40 {
  padding-top: 40px;
}

.m-t-50 {
  margin-top: 50px;
}

.p-t-50 {
  padding-top: 50px;
}

.m-t-60 {
  margin-top: 60px;
}

.p-t-60 {
  padding-top: 60px;
}

.m-t-70 {
  margin-top: 70px;
}

.p-t-70 {
  padding-top: 70px;
}

.m-t-80 {
  margin-top: 80px;
}

.p-t-80 {
  padding-top: 80px;
}

.m-t-90 {
  margin-top: 90px;
}

.p-t-90 {
  padding-top: 90px;
}

.m-t-100 {
  margin-top: 100px;
}

.p-t-100 {
  padding-top: 100px;
}

.m-t-120 {
  margin-top: 120px;
}

.p-t-120 {
  padding-top: 120px;
}

.m-t-150 {
  margin-top: 150px;
}

.p-t-150 {
  padding-top: 150px;
}

.m-t-180 {
  margin-top: 180px;
}

.p-t-180 {
  padding-top: 180px;
}

.m-t-200 {
  margin-top: 200px;
}

.p-t-200 {
  padding-top: 200px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.p-30 {
  padding: 30px;
}

.p-y-60 {
  padding: 60px 0;
}

.p-y-120 {
  padding: 120px 0;
}

.w-100 {
  width: 100%;
}

.min-w-100 {
  min-width: 100%;
}

.max-w-250 {
  max-width: 250px;
}

.h-200 {
  height: 200px;
}

.l-h-one-half {
  line-height: 1.5;
}

.font-x-small {
  font-size: 12px;
}

.font-small {
  font-size: 14px;
}

.font-medium {
  font-size: 16px;
}

.font-large {
  font-size: 18px;
}

.font-x-large {
  font-size: 20px;
}

.font-2x-large {
  font-size: 24px;
}

.font-3x-large {
  font-size: 28px;
}

.font-4x-large {
  font-size: 32px;
}

.font-5x-large {
  font-size: 36px;
}

.font-6x-large {
  font-size: 42px;
}

.font-7x-large {
  font-size: 46px;
}

.font-8x-large {
  font-size: 56px;
}

.font-9x-large {
  font-size: 60px;
}

.font-w-500 {
  font-weight: 500;
}

.font-w-600 {
  font-weight: 600;
}

.font-w-bold {
  font-weight: bold;
}

.font-w-bolder {
  font-weight: bolder;
}

.text-black-one {
  color: #000000;
}

.text-black-two {
  color: #111111;
}

.text-black-three {
  color: #232628;
}

.text-black-four {
  color: #1d1d1d;
}

.text-white {
  color: #ffffff;
}

.text-grey-one {
  color: #9b9b9b;
}

.text-grey-two {
  color: #848484;
}

.text-darkgrey {
  color: #4b4d4f;
}

.text-lightgrey {
  color: #ececec;
}

.text-darkblue {
  color: #2a41e8;
}

.text-orange {
  color: #ff5e14;
}

.text-yellow {
  color: #ffc107;
}

.text-blueish-white {
  color: #eaedfd;
}

.bg-black-one {
  background-color: #000000;
}

.bg-black-two {
  background-color: #111111;
}

.bg-black-three {
  background-color: #232628;
}

.bg-white-one {
  background-color: #ffffff;
}

.bg-white-two {
  background-color: #f3f3f3;
}

.bg-white-three {
  background-color: #fafafa;
}

.bg-grey-one {
  background-color: #9b9b9b;
}

.bg-darkblue {
  background-color: #2a41e8;
}

.bg-orange {
  background-color: #ff5e14;
}

.bg-yellow {
  background-color: #ffc107;
}

.bg-blueish-white {
  background-color: #eaedfd;
}

.text-center {
  text-align: center;
}

.container-lg, .container-md, .container-full {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.container-lg {
  max-width: 1200px;
}

.container-full {
  max-width: 100%;
  padding: 0 30px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-orange, .btn-blue, .btn-black-rounded, .btn-lightblue {
  display: inline-block;
  border: none;
  font-weight: 500;
  max-width: 200px;
}

.btn-orange {
  background-color: #ff5e14;
  padding: 26px 30px;
  border-radius: 4px;
  font-size: 16px;
}

.btn-blue {
  background-color: #2a41e8;
  padding: 13px 20px;
  border-radius: 4px;
  font-size: 18px;
}

.btn-black-rounded {
  background-color: #000000;
  padding: 18px 37px;
  border-radius: 29px;
  font-size: 18px;
}

.btn-lightblue {
  background-color: #eaedfd;
  padding: 18px 37px;
  border-radius: 3px;
  font-size: 16px;
}

.d-center {
  justify-content: center;
}

.d-center-vertical {
  align-items: center;
}

.h-space-between {
  justify-content: space-between;
}

.v-space-between {
  justify-content: space-between;
  flex-direction: column;
}

.d-center-column {
  align-items: center;
  flex-direction: column;
}

.d-center-both {
  justify-content: center;
  align-items: center;
}

.d-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.gap-25 {
  gap: 25px;
}

.gap-30 {
  gap: 30px;
}

.gap-40 {
  gap: 40px;
}

.area-card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 360px;
  width: 400px;
  position: relative;
  border-radius: 6px;
}
.area-card-large {
  width: 720px;
}
.area-card-text {
  position: absolute;
  bottom: 20px;
  left: 40px;
}
.area-card-one {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://dl.dropboxusercontent.com/s/j35g8uudgwfteuk/los-angeles.png?dl=0");
}
.area-card-two {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://dl.dropboxusercontent.com/s/1dt2jx2r3dya8rr/san-francisco.png?dl=0");
}
.area-card-three {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://dl.dropboxusercontent.com/s/txfkk3r7ip32c9z/seattle.png?dl=0");
}
.area-card-four {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://dl.dropboxusercontent.com/s/pk99pxf56i9yn04/san-diego.png?dl=0");
}

.header {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.header-left {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0;
}
.header-left img {
  width: 220px;
  height: 50px;
}
.header-center {
  font-weight: 600;
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 7px 30px;
  align-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.header-right {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 0 0 0 20px;
}

.navbar {
  display: flex;
  gap: 35px;
  font-size: 14px;
}

.compare-icon {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}

.hamburger {
  display: none;
  background: transparent;
  font-size: 20px;
  border: none;
  outline: none;
}

.cr-form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px 29px 29px;
  background-color: #ffffff;
  border-radius: 4px;
}
.cr-input-group {
  position: relative;
}
.cr-input-select, .cr-input-text {
  background-color: #ececec;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 16px;
}
.cr-input-select-md {
  width: 220px;
  padding: 30px 16px 10px;
}
.cr-input-select-sm {
  width: 180px;
  padding: 30px 16px 10px;
}
.cr-input-text {
  width: 350px;
  padding: 20px 20px;
}
.cr-input-addon {
  position: absolute;
  left: 20px;
  top: 7px;
}

.prop-card {
  max-width: 360px;
  border-radius: 4px;
}
.prop-card-image {
  height: 280px;
  padding: 30px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.prop-card-image-one {
  background-image: url("https://dl.dropboxusercontent.com/s/lv2rwdfvudreogu/property-image1.png?dl=0");
}
.prop-card-image-two {
  background-image: url("https://dl.dropboxusercontent.com/s/fdn69zllj10u5us/property-image2.png?dl=0");
}
.prop-card-image-three {
  background-image: url("https://dl.dropboxusercontent.com/s/id57sreilmk1kd1/property-image3.png?dl=0");
}
.prop-card-image-four {
  background-image: url("https://dl.dropboxusercontent.com/s/f7rwg6cm194k1c8/property-image4.png?dl=0");
}
.prop-card-image-five {
  background-image: url("https://dl.dropboxusercontent.com/s/z7rtpz4r974jz1o/property-image5.png?dl=0");
}
.prop-card-image-six {
  background-image: url("https://dl.dropboxusercontent.com/s/pj7ymezdjvgvzlp/property-image6.png?dl=0");
}
.prop-card-label {
  padding: 8px 12px;
  border-radius: 4px;
}
.prop-card-description {
  padding: 20px;
}

.small-card {
  position: relative;
  min-width: 350px;
  border-radius: 4px;
  box-sizing: border-box;
}
.small-card-image {
  min-width: 100%;
  max-width: 350px;
  max-height: 200px;
}
.small-card-highlight {
  box-shadow: 0 0 90px 0 rgba(41, 44, 28, 0.2);
}

.card-padding-1 {
  padding: 30px 35px 45px;
}

.card-padding-2 {
  padding: 30px 35px;
}

.small-label {
  padding: 10px;
}

.footer-icons {
  align-items: center;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.footer-text {
  color: rgba(255, 255, 255, 0.5);
}
.footer-description {
  border-top: 1px solid rgba(255, 255, 255, 0.07);
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  gap: 60px;
}
.footer-about {
  width: 400px;
}

.icon-wrapper {
  padding: 30px;
  border-left: 1px solid rgba(255, 255, 255, 0.07);
  border-right: 1px solid rgba(255, 255, 255, 0.07);
}

.hero {
  height: 650px;
  background-image: url("https://dl.dropboxusercontent.com/s/dkj02chybrem0zw/hero-bg-image.png?dl=0");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hotDeal-image {
  background-image: url("https://dl.dropboxusercontent.com/s/apqnlra2rqgn5si/hotDeal.png?dl=0");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 50%;
}
.hotDeal-description {
  width: 50%;
  padding: 30px 20px;
  box-sizing: border-box;
  height: 600px;
}

.play-btn-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #9b9b9b;
}

.triangle {
  display: inline-block;
  width: 17px;
  height: 17px;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.agents-card {
  position: relative;
  box-sizing: border-box;
  min-width: 370px;
  transition: all 0.4s linear;
  transform: translateX(0);
  left: 0;
}
.agents-card img {
  width: 100%;
}
.agents-card-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.social-icons {
  border: 1px solid #ececec;
  border-radius: 4px;
  padding: 10px 20px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.border-rounded {
  border: 1px solid #111111;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #111111;
  border-radius: 50%;
}

.sell-property {
  background-image: url("https://dl.dropboxusercontent.com/s/dkj02chybrem0zw/hero-bg-image.png?dl=0");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  align-items: center;
}
.sell-property-card {
  padding: 80px 50px;
  max-width: 600px;
}
.sell-property-btn {
  display: flex;
  justify-content: space-between;
}

.feedback {
  background-image: url("./Images/testimonials-bg-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  position: relative;
}
.feedback-cards-wrapper {
  display: flex;
  overflow: hidden;
}
.feedback-card {
  transform: translate(0);
  transition: all 0.4s linear;
}
.feedback-heading {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
}
.feedback-user-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -o-object-fit: fill;
     object-fit: fill;
}
.feedback-sliderBtn {
  position: absolute;
  right: 5%;
  bottom: 10%;
}

.slider-btn {
  padding: 15px 22px;
  background-color: #2a41e8;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 4px;
}

@media screen and (max-width: 800px) {
  .font-x-small {
    font-size: 12px;
  }
  .font-small {
    font-size: 14px;
  }
  .font-medium {
    font-size: 15px;
  }
  .font-large {
    font-size: 16px;
  }
  .font-x-large {
    font-size: 18px;
  }
  .font-2x-large {
    font-size: 20px;
  }
  .font-3x-large {
    font-size: 22px;
  }
  .font-4x-large {
    font-size: 25px;
  }
  .font-5x-large {
    font-size: 28px;
  }
  .font-6x-large {
    font-size: 32px;
  }
  .font-7x-large {
    font-size: 35px;
  }
  .font-8x-large {
    font-size: 38px;
  }
  .font-9x-large {
    font-size: 40px;
  }
  .m-t-35 {
    margin-top: 30px;
  }
  .p-t-35 {
    padding-top: 30px;
  }
  .m-t-40 {
    margin-top: 32px;
  }
  .p-t-40 {
    padding-top: 32px;
  }
  .m-t-45 {
    margin-top: 38px;
  }
  .p-t-45 {
    padding-top: 38px;
  }
  .m-t-50 {
    margin-top: 40px;
  }
  .p-t-50 {
    padding-top: 40px;
  }
  .m-t-60 {
    margin-top: 45px;
  }
  .p-t-60 {
    padding-top: 45px;
  }
  .m-t-70 {
    margin-top: 52px;
  }
  .p-t-70 {
    padding-top: 52px;
  }
  .m-t-80 {
    margin-top: 60px;
  }
  .p-t-80 {
    padding-top: 60px;
  }
  .m-t-90 {
    margin-top: 65px;
  }
  .p-t-90 {
    padding-top: 65px;
  }
  .m-t-100 {
    margin-top: 70px;
  }
  .p-t-100 {
    padding-top: 70px;
  }
  .m-t-120 {
    margin-top: 80px;
  }
  .p-t-120 {
    padding-top: 80px;
  }
  .m-t-150 {
    margin-top: 100px;
  }
  .p-t-150 {
    padding-top: 100px;
  }
  .m-t-180 {
    margin-top: 120px;
  }
  .p-t-180 {
    padding-top: 120px;
  }
  .m-t-200 {
    margin-top: 140px;
  }
  .p-t-200 {
    padding-top: 140px;
  }
  .mob-d-center {
    justify-content: center;
  }
  .small-card {
    min-width: 100%;
  }
  .small-card-image {
    max-width: 100%;
  }
  .header {
    flex-direction: column;
    gap: 50px;
  }
  .header-center {
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    flex: 0;
  }
  .header-right {
    display: none;
    justify-content: center;
  }
  .navbar {
    gap: 30px;
    flex-direction: column;
    font-size: 20px;
  }
  .navbar li select {
    font-size: 20px;
  }
  .compare-icon {
    font-size: 20px;
  }
  .hamburger {
    display: block;
  }
  .btn-orange,
.btn-black-rounded {
    padding: 20px 30px;
  }
  .hotDeal-image {
    width: 100%;
    height: 300px;
  }
  .hotDeal-description {
    width: 100%;
  }
  .area-card-large {
    width: 370px;
  }
  .agents-card {
    min-width: 100%;
  }
  .slider-btn {
    padding: 8px 14px;
  }
  .feedback-sliderBtn {
    position: absolute;
    right: 2%;
    bottom: 7%;
  }
  .footer-icons {
    flex-direction: column;
    gap: 30px;
  }
}/*# sourceMappingURL=index.css.map */