@use "../abstracts/mixins" as *;

.area-card{
    @include bgImageTheme("");
    height: 360px;
    width: 400px;
    position: relative;
    border-radius: 6px;

    &-large{
        width: 720px;
    }
    &-text{
        position:absolute;
        bottom: 20px;
        left:40px;
    }
    &-one{
        background-image: linear-gradient(to right,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('https://dl.dropboxusercontent.com/s/j35g8uudgwfteuk/los-angeles.png?dl=0');
    }
    &-two{
        background-image: linear-gradient(to right,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('https://dl.dropboxusercontent.com/s/1dt2jx2r3dya8rr/san-francisco.png?dl=0');
    }
    &-three{
        background-image: linear-gradient(to right,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('https://dl.dropboxusercontent.com/s/txfkk3r7ip32c9z/seattle.png?dl=0');
    }
    &-four{
        background-image: linear-gradient(to right,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('https://dl.dropboxusercontent.com/s/pk99pxf56i9yn04/san-diego.png?dl=0');
    }
}