@use "../abstracts/variables" as *;

.header {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 10;

  &-left {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0;

    img{
      width: 220px;
      height:50px
    }
  }
  &-center {
    font-weight: 600;
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 7px 30px;
    align-items: center;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  &-right {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 0 0 0 20px;
  }
}
.navbar {
  display: flex;
  gap: 35px;
  font-size: 14px;
}

.compare-icon {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}

.hamburger {
  display: none;
  background: transparent;
  font-size: 20px;
  border: none;
  outline: none;
}
