@use "../abstracts/mixins" as *;

.prop-card {
  max-width: 360px;
  border-radius: 4px;
  &-image {
    height: 280px;
    padding: 30px 20px;
    @include bgImageTheme("");
  }
  &-label {
    padding: 8px 12px;
    border-radius: 4px;
  }
  &-description {
    padding: 20px;
  }
}
