@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.hotDeal{
   
    &-image{
        @include bgImageTheme("https://dl.dropboxusercontent.com/s/apqnlra2rqgn5si/hotDeal.png?dl=0");
        height:600px;
        width: 50%;
    }

    &-description{
        width: 50%;
        padding:30px 20px;
        box-sizing: border-box;
        height:600px;
    }
}

.play-btn-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width:60px;
    height:60px;
    border-radius:50%;
    border:2px solid $grey-one;
}
.triangle{
    display:inline-block;
    width:17px;
    height:17px;
    clip-path: polygon(0 0,100% 50%,0 100%);
}