@use "../abstracts/mixins" as *;

.sell-property{
    @include bgImageTheme("");
    height:700px;
    align-items:center;

    &-card{
        padding:80px 50px;
        max-width: 600px;
    }
    &-btn{
        display:flex;
        justify-content:space-between;
    }
}